<footer class="site-footer" style="background-color: #00206f; color: white; padding: 40px 20px 100px 20px; text-align: center; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; border-top: none; box-shadow: 0 50vh 0 50vh #00206f;">
  <div class="container">
    <div style="width: 100%; padding-top: 10px; margin-bottom: 10px;"></div>
      <img src="{{ "media/logo2.png" | absURL }}" style="width: 120px; height: auto; display: block; margin: 0 auto;">
    </div>

    <div style="font-family: 'Segoe UI', sans-serif; line-height: 1;">
      <p style="font-size: 0.8rem; font-weight: bold; margin-bottom: 18px; margin-top: 24px">Haining Zheng | Principal Investigator</p>
      <p style="font-size: 0.8rem; font-weight: 100; margin-bottom: 12px;">Flexible & Ferroic Systems Laboratory (F² Lab)</p>
      <p style="font-size: 0.8rem; font-weight: 100; margin-bottom: 12px;">School of Physics</p>
      <p style="font-size: 0.8rem; font-weight: 100; margin-bottom: 12px;">Southeast University</p>
      <p style="font-size: 0.8rem; font-weight: 100; margin-bottom: 12px;">No. 2, Southeast University Road, Jiangning District, Nanjing, China</p>
      <p style="margin-top: 5px; font-size: 0.8rem; font-weight: 100;">Email: <a href="mailto:haining.zheng@u.nus.edu" style="color: #64b5f6; text-decoration: none;">haining.zheng@u.nus.edu</a></p>
    </div>
    
    <div style="margin-top: 50px; font-family: 'Segoe UI', sans-serif; font-size: 0.7rem; font-weight: 300; opacity: 0.6;">
      © {{ now.Format "2006" }} Haining Zheng. All rights reserved.
    </div>
  </div>
</footer>